body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

form {
  display: grid;
  grid-template-rows: repeat(5, 30px);
}

.cardBox {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  margin: auto;
}

.cardAuthor {
  margin: auto;
}

.cardPages {
  margin: auto;
}

.cardRead {
  margin: auto;
}

.removeButton {
  margin: auto;
}

#cardGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20px 100px;
  justify-content: center;
}

#header {
  display: grid;
  justify-content: center;
}

#inputs {
  display: grid;
  width: 70%;
  justify-content: center;
}

#left {
  background: gray;
}

#read-radio {
  display: flex;
}