body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

form {
  display: grid;
  grid-template-rows: repeat(5, 30px);
  justify-items: center;
}

label {
  margin: auto;
}

.cardBox {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  margin: auto;
}

.cardAuthor {
  margin: auto;
}

.cardPages {
  margin: auto;
}

.cardRead {
  margin: auto;
}

.removeButton {
  margin: auto;
}

.toggleRead {
  background: green;
  color: white;
  margin: auto;
}

.toggleUnread {
  background: red;
  color: white;
  margin: auto;
}

.inputs {
  display: grid;
  width: 80%;
  height: 24px;
  font-size: 16px;
  justify-content: center;
}

#cardGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20px 100px;
  justify-content: center;
}

#header {
  display: grid;
  justify-content: center;
}


#left {
  background: lightgray;
}

#read-radio {
  display: flex;
  margin: 10px;
}